{% extends 'base.html.twig' %}
{% block title %} Redéfinir le mot de passe?{% endblock %}
{% block cover %}{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group row">
        {{ form_label(form.plainPassword.first, 'Mot de passe') }}
        <div class="col-sm-10">
            <div class="md-form mt-0">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.plainPassword.second, 'Confirmer mot de passe') }}
        <div class="col-sm-10">
            <div class="md-form mt-0">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control mb-4'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group-row">
        <div class="col-sm-10">
            <button class="btn btn-primary btn-md">Envoyer</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}