<div id="jq-com" {% if (comments|length == 5) %}class="more"{% endif %}>
    {% for comment in comments|slice(0,4) %}
        <div class="alert alert-success">
            {% if app.user.picture is defined %}
                <img src="{{ asset('uploads/images/'~ app.user.picture[0]) }}" class="rounded-circle img-fluid"
                     style="max-width: 40px;" alt="">
            {% else %}
                <img src="{{ asset('img/avatar-user.jpg') }}" class="rounded-circle img-fluid" style="max-width: 40px;"
                     alt="">
            {% endif %}
            <strong>{{ comment.user.nickName }}</strong><i> à écrit le {{ comment.creationDate|date("d-m-Y") }}</i> :
            <strong>{{ comment.content }}</strong>
        </div>
    {% endfor %}
</div>
{% if (comments|length == 5) and (initial_load is defined) %}
    <button class="btn btn-indigo" id="jq-plus">Plus</button>
{% endif %}