{% extends 'base.html.twig' %}
{% block title %}Trick index{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div>
                <div class="d-flex row justify-content-start mx-auto" id="jq-card">
                </div>
                <div class="mx-auto text-center">
                    <img src="{{ asset('img/loading_spinner.gif') }}" id="spin-img" alt="">
                </div>
            </div>
            <button class="btn btn-default" id="js-scroll-down"><i class="fas fa-arrow-down ml-1"></i></button>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
      const selector = $("#js-scroll-down");
      $(document).ready(function () {
        $("#spin-img").hide();
        let tricks_count = 0;
        $.post("{{ path('trick_ajax') }}")
            .done(function (count) {
              tricks_count = parseInt(count);
            });
        if (tricks_count === 0) {
          selector.hide();
        }
        selector.on("click", function (e) {
          $("#spin-img").show();
          let appended_tricks = $("#jq-card > div >.card").length;
          $.post("{{ path('trick_ajax') }}", {first: appended_tricks})
              .done(function (tricks) {
                $("#spin-img").hide();
                $("#jq-card").append(tricks);
                let total_tricks = $("#jq-card > div >.card").length;
                if (total_tricks === tricks_count) {
                  selector.hide();
                }
              });
          let n = $(document).height();
          $("html, body").animate({scrollTop: $("body").offset().top + n}, "slow");
        });
      });
    </script>
{% endblock %}