{% extends 'base.html.twig' %}

{% block cover %}{% endblock %}
{% block body %}
    <section class="text-center my-5 p-1">
        <h1 class="h1-responsive font-weight-bold my-5">Mon profil</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 mb-lg-0 mb-4 d-flex justify-content-center">
                <div class="card testimonial-card">
                    <div class="card-up info-color"></div>
                    <div class="avatar mx-auto white pt-2">
                        {% if app.user.picture |length > 0 %}
                            {# if user has  no picture stored use default avaatr#}
                            <img src="{{ asset('uploads/images/'~ app.user.picture[0]) }}" class="rounded-circle img-fluid" style="max-width: 180px;" alt="">
                        {% else %}
                            <img src="{{ asset('img/avatar-user.jpg') }}" class="rounded-circle img-fluid" style="max-width: 180px;" alt="">
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <span class="font-weight-bold mb-4">Nom d'utilisateur : </span><span>{{ app.user.nickname }}</span><br/>
                        <span class="font-weight-bold mb-4">Email : </span><span>{{ app.user.email }}</span>
                        <hr>
                        <p class="dark-grey-text mt-4">
                            <a type="button" class="btn btn-primary"
                               href="{{ path('profil_edit', {'id' : app.user.id}) }}">Modifier vos informations</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
